<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <div class="">
              <h3 class="mb-0">Liste des matchs</h3>
            </div>
            <div class="col p-0">
              <form class="form-filters">
                <div class="row align-items-center justify-content-end" *ngIf="this.filter">
                  <div class="col-auto">
                    <span>Filters</span> <i class="mdi mdi-filter-variant ml-2"></i>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher ..."
                           [(ngModel)]="this.filter.keyword" (keyup)="getData()">
                  </div>

                  <div class="">
                    <div class="form-group hidden">
                      <div class="input-group">
                        <input name="datepicker"
                               class="form-control"
                               ngbDatepicker
                               #datepicker="ngbDatepicker"
                               [autoClose]="'outside'"
                               (dateSelect)="onDateSelection($event)"
                               [displayMonths]="2"
                               [dayTemplate]="t"
                               outsideDays="hidden"
                               [startDate]="fromDate!"
                               [value]="selectedDate"
                               tabindex="-1">
                        <ng-template #t let-date let-focused="focused">
                        <span class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                        </ng-template>
                        <div class="input-group-append">
                          <button class="btn btn-primary calendar mr-0" style="padding: 0 17px; margin-right: 0!important;" (click)="datepicker.toggle()" type="button">
                            <i class="fa fa-calendar"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <form class="">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [placement]="'bottom'" (change)="getData()" (dateSelect)="getData()">
                          <div class="input-group-append">
                            <button class="btn btn-primary calendar mr-0" style="padding: 0 17px; margin-right: 0!important;" (click)="d.toggle()" type="button">
                              <i class="fa fa-calendar"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="">
                    <button type="button" (click)="exportData()" class="btn btn-primary m-0 px-2">
                      <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="ml-auto nav-item">
              <button type="button" routerLink="add" class="btn btn-primary m-0">Add</button>
            </div>-->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" rowspan="3">Home</th>
              <th scope="col" rowspan="3">Score</th>
              <th scope="col" rowspan="3">Away</th>
              <th scope="col" rowspan="3">Compétition</th>
              <th scope="col" rowspan="3">Round</th>
              <th scope="col" rowspan="3">Quotes</th>
              <th scope="col" rowspan="3">Prono votes</th>
              <th scope="col" rowspan="3">Live ratings</th>
              <th scope="col" rowspan="3">Before ratings</th>
              <th scope="col" colspan="4" style="text-align:center">Compo</th>
              <th scope="col" colspan="4" style="text-align:center">Notation</th>
              <th scope="col" colspan="2" style="text-align:center">Prono</th>
              <th scope="col" rowspan="3">Date de creation</th>
            </tr>
            <tr>
              <th scope="col" colspan="2" style="text-align:center">Home</th>
              <th scope="col" colspan="2" style="text-align:center">Away</th>
              <th scope="col" colspan="2" style="text-align:center">Home</th>
              <th scope="col" colspan="2" style="text-align:center">Away</th>
              <th scope="col" rowspan="2" style="text-align:center">Coeur</th>
              <th scope="col" rowspan="2" style="text-align:center">Lambda</th>
            </tr>
            <tr>
              <th scope="col" style="text-align:center">Coeur</th>
              <th scope="col" style="text-align:center">Lambda</th>
              <th scope="col" style="text-align:center">Coeur</th>
              <th scope="col" style="text-align:center">Lambda</th>

              <th scope="col" style="text-align:center">Coeur</th>
              <th scope="col" style="text-align:center">Lambda</th>
              <th scope="col" style="text-align:center">Coeur</th>
              <th scope="col" style="text-align:center">Lambda</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list">
              <td>{{item.homeName}}</td>
              <td>{{item.homeScore}}-{{item.awayScore}}</td>
              <td>{{item.awayName}}</td>
              <td>{{item.leagueName}}</td>
              <td>{{item.round}}</td>
              <td>{{getCote(item, item.prono.numberHome)}}-{{getCote(item, item.prono.numberDraw)}}-{{getCote(item, item.prono.numberAway)}}</td>
              <td>{{item.prono.numberHome+item.prono.numberDraw+item.prono.numberAway-3}}</td>
              <td>{{item.liveRatings.length}}</td>
              <td>{{item.beforeMatchPlayes.length}}</td>
              <td>{{getCompoStats(item, true, true)}}</td>
              <td>{{getCompoStats(item, true, false)}}</td>
              <td>{{getCompoStats(item, false, true)}}</td>
              <td>{{getCompoStats(item, false, false)}}</td>
              <td>{{getRatingStats(item, true, true)}}</td>
              <td>{{getRatingStats(item, true, false)}}</td>
              <td>{{getRatingStats(item, false, true)}}</td>
              <td>{{getRatingStats(item, false, false)}}</td>
              <td>{{getPronoStats(item, true)}}</td>
              <td>{{getPronoStats(item, false)}}</td>
              <td>
                {{item.formated_date}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
