<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="table-header">
            <div class="">
              <h3 class="mb-0">Liste des utilisateurs</h3>
            </div>
            <div class="col p-0">
              <form class="form-filters">
                <div class="row align-items-center justify-content-end" *ngIf="this.filter">
                  <div class="col-auto">
                    <span>Filters</span> <i class="mdi mdi-filter-variant ml-2"></i>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher ..."
                           [(ngModel)]="this.filter.keyword" (keyup)="loadData()">
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Type</span>: <span class="dropdown-choice">
          <span [innerHTML]="getFilterLabels(this.listRoles, 'type')"></span>
          </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let item of listRoles;let i=index"
                            [class.active]="isFilterSelected('type', item)">
                          <label class="custom-checkbox">
                            <input name="filter1" type="checkbox" [checked]="isFilterSelected('type', item)"
                                   (click)="selectFilter('type', item); loadData()">
                            {{item}}
                            <span></span>
                          </label>
                        </li>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Etat</span>: <span class="dropdown-choice">
          <span [innerHTML]="getFilterLabels(this.listStates, 'state')"></span>
          </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let item of listStates;let i=index"
                            [class.active]="isFilterSelected('state', item)">
                          <label class="custom-checkbox">
                            <input name="filter2" type="checkbox" [checked]="isFilterSelected('state', item)"
                                   (click)="selectFilter('state', item); loadData()">
                            {{item === "is_completed" ? "100% ok" : (item === "is_not_completed" ? "Incomplet" : "Mail pas confirmé")}}
                            <span></span>
                          </label>
                        </li>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <button type="button" (click)="exportData()" class="btn btn-primary m-0 px-2 download-btn">
                      <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="ml-auto nav-item">
              <button type="button" routerLink="add" class="btn btn-primary m-0">Add</button>
            </div>-->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Utilisateur</th>
              <th scope="col">Pseudo</th>
              <th scope="col">Email</th>
              <th scope="col">Club du coeur</th>
              <th scope="col">Équipe nationale de coeur</th>
              <th scope="col">Langue</th>
              <th scope="col">Pays</th>
              <th scope="col">Ville</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Status précédent</th>
              <th scope="col">Date du changement du status</th>
              <th scope="col">Knowledge</th>
              <th scope="col">Addiction</th>
              <th scope="col">Fidelity</th>
              <th scope="col">Contribution</th>
              <th scope="col">Reliability</th>
              <th scope="col">visibilité</th>
              <th scope="col">Amis</th>
              <th scope="col">Followers</th>
              <th scope="col">Equipe favoris</th>
              <th scope="col">User favoris</th>
              <th scope="col">Points</th>
              <th scope="col">Dernière connexion</th>
              <th scope="col">Dernière connexion (jours)</th>
              <th scope="col">Etat</th>
              <th scope="col">State</th>
              <th scope="col">Signalements utilisateurs</th>
              <th scope="col">Alerts FZ</th>
              <th scope="col">Actions</th>
              <th scope="col">Date d'inscription</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list">
              <td>
                <img style="width: 30px;height: 30px;border-radius: 15px" class="mr-2"
                     src="{{item.img_url || 'https://www.dgb.cm/wp-content/uploads/2019/10/default-user-profile-image.png'}}"/>
                {{item.full_name}}
              </td>
              <td>{{item.pseudo}}</td>
              <td>{{item.email}}</td>
              <td *ngIf="item.favorite_team != null">
                <img style="width: 30px;height: 30px;object-fit: contain" class="mr-2" src="{{item.favorite_team.logo}}"/>
              </td>
              <td *ngIf="item.favorite_team == null">-</td>
              <td *ngIf="item.favorite_euro_team != null">
                <img style="width: 30px;height: 30px;object-fit: contain" class="mr-2" src="{{item.favorite_euro_team.logo}}"/>
              </td>
              <td *ngIf="item.favorite_euro_team == null">-</td>
              <td>{{item.language}}</td>
              <td>{{item.governorate?.name ?? '-'}}</td>
              <td>{{item.region?.name ?? '-'}}</td>
              <td>{{item.type}}</td>
              <td>
                {{
                listStatus[item.status_level]
                }}
              </td>
              <td>
                {{
                listStatus[item.previous_status_level ?? 0]
                }}
              </td>
              <td>{{item.status_level_change_date_formated}}</td>
              <th>{{ item.stats?.knowledge?.toFixed(1) ?? '-'}}</th>
              <th>{{ item.stats?.addiction?.toFixed(1) ?? '-'}}</th>
              <th>{{ item.stats?.fidelity?.toFixed(1) ?? '-'}}</th>
              <th>{{ item.stats?.contribution?.toFixed(1) ?? '-'}}</th>
              <th>{{ item.stats?.reliability?.toFixed(1) ?? '-'}}</th>
              <td>
                {{
                [
                  "Invisible",
                  "Visible que pour les amis",
                  "Visible pour tous"
                ][item.community_visibility]
                }}
              </td>
              <td>{{item.friends.length}}</td>
              <td>{{item.stats.followers}}</td>
              <td>{{item.followedTeams.length}}</td>
              <td>{{item.followedUsers.length}}</td>
              <td>{{item.total_score.toFixed(1)}}</td>
              <td>
                {{item.formated_last_connection_date}}
              </td>
              <td>
                {{item.last_connection_days}}
              </td>
              <td>
                {{getUserStatus(item)}}
              </td>
              <td>{{getStatus(item)}}</td>
              <td>{{getUserReports(item)}}</td>
              <td>{{item.alerts.length}}</td>
              <td>
                <button class="btn btn-sm btn-info mr-2" (click)="alertUser(0, item)">Alerter</button>
                <button class="btn btn-sm btn-success mr-2" *ngIf="item.state != 0" (click)="cancelSuspension(item)">Annuler la suspension</button>
                <button class="btn btn-sm btn-warning mr-2" *ngIf="item.state != 1" (click)="partialSuspendUser(item)">Suspendre temporairement</button>
                <button class="btn btn-sm btn-danger mr-2" *ngIf="item.state != 2" (click)="defectivelySuspendUser(item)">Suspendre définitivement</button>
              </td>
              <td>
                {{item.formated_date}}
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination
            (pageChange)="pageChange($event)"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="10"
            [collectionSize]="totalLength"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
