<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <div class="">
              <h3 class="mb-0">Liste des utilisateurs</h3>
            </div>
            <div class="col p-0">
              <form class="form-filters">
                <div class="row align-items-center justify-content-end" *ngIf="this.filter">
                  <div class="col-auto">
                    <span>Filters</span> <i class="mdi mdi-filter-variant ml-2"></i>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher ..."
                           [(ngModel)]="this.filter.keyword" (keyup)="loadData()">
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Type</span>: <span class="dropdown-choice">
          <span [innerHTML]="getFilterLabels(this.listRoles, 'type')"></span>
          </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let item of listRoles;let i=index"
                            [class.active]="isFilterSelected('type', item)">
                          <label class="custom-checkbox">
                            <input name="filter1" type="checkbox" [checked]="isFilterSelected('type', item)"
                                   (click)="selectFilter('type', item); loadData()">
                            {{item}}
                            <span></span>
                          </label>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="ml-auto nav-item">
              <button type="button" routerLink="add" class="btn btn-primary m-0">Add</button>
            </div>-->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Utilisateur</th>
              <th scope="col">Pseudo</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col">Points</th>
              <th scope="col">Date d'inscription</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list">
              <td>{{item._id}}</td>
              <td>
                <img style="width: 30px;height: 30px;border-radius: 15px" class="mr-2" src="{{item.img_url || 'https://www.dgb.cm/wp-content/uploads/2019/10/default-user-profile-image.png'}}"/>
                {{item.full_name}}
              </td>
              <td>{{item.pseudo}}</td>
              <td>{{item.email}}</td>
              <td>{{item.type}}</td>
              <td>{{item.total_score.toFixed(1)}}</td>
              <td>
                {{item.formated_date}}
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination
            (pageChange)="pageChange($event)"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="10"
            [collectionSize]="totalLength"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
