<div class="header bg-gradient-danger pb-8 pt-5">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex align-items-center">
            <div class="">
              <h3 class="mb-0">Liste des joueurs</h3>
            </div>
            <div class="col p-0">
              <form class="form-filters">
                <div class="row align-items-center justify-content-end" *ngIf="this.filter">
                  <div class="col-auto">
                    <span>Filters</span> <i class="mdi mdi-filter-variant ml-2"></i>
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rechercher ..."
                           [(ngModel)]="this.filter.keyword" (keyup)="loadData()">
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Équipe</span>: <span class="dropdown-choice">
                        <span [innerHTML]="getFilterLabels(this.teamsListName, 'teamId')"></span>
                        </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="search-dropdown mb-1">
                          <input placeholder="Recherche..." [(ngModel)]="teamsQuery" (keydown)="onChangeQuery()" class="form-control" #input>
                        </li>
                        <div style="max-height: 300px;overflow: auto;">
                          <li class="dropdown-item" *ngFor="let item of filteredTeams;let i=index"
                              [class.active]="isFilterSelected('teamId', item.teamId)">
                            <label class="custom-checkbox">
                              <input name="filter1" type="checkbox" [checked]="isFilterSelected('teamId', item.teamId)"
                                     (click)="selectFilter('teamId', item.teamId); loadData()">
                              {{item.name}}
                              <span></span>
                            </label>
                          </li>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Position</span>: <span class="dropdown-choice">
          <span [innerHTML]="getFilterLabels(this.listPositions, 'positionAbr')"></span>
          </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let item of listPositions;let i=index"
                            [class.active]="isFilterSelected('positionAbr', item)">
                          <label class="custom-checkbox">
                            <input name="filter2" type="checkbox" [checked]="isFilterSelected('positionAbr', item)"
                                   (click)="selectFilter('positionAbr', item); loadData()">
                            {{item}}
                            <span></span>
                          </label>
                        </li>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <div class="dropdown dropdown-filter">
                      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                        <span>Type</span>: <span class="dropdown-choice">
          <span [innerHTML]="getFilterLabels(this.listStates, 'state')"></span>
          </span>
                        <span class="mdi mdi-chevron-down ml-2"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li class="dropdown-item" *ngFor="let item of listStates;let i=index"
                            [class.active]="isFilterSelected('state', item)">
                          <label class="custom-checkbox">
                            <input name="filter2" type="checkbox" [checked]="isFilterSelected('state', item)"
                                   (click)="selectFilter('state', item); loadData()">
                            {{item === "is_completed" ? "Completed" : "Not completed"}}
                            <span></span>
                          </label>
                        </li>
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <button type="button" (click)="exportData()" class="btn btn-primary m-0 px-2">
                      <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--<div class="ml-auto nav-item">
              <button type="button" routerLink="add" class="btn btn-primary m-0">Add</button>
            </div>-->
          </div>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Joueur</th>
              <th scope="col">Nom d'affichage</th>
              <th scope="col">Équipe</th>
              <th scope="col">Nationalité</th>
              <th scope="col">Position</th>
              <th scope="col">Valeur initiale</th>
              <th scope="col">Value</th>
              <th scope="col">Fantazy A/V</th>
              <th scope="col">Note moyenne</th>
              <th scope="col">Age</th>
              <th scope="col">Date de creation</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list">
              <td>
                <img style="width: 50px;height: 50px;object-fit: contain" class="mr-2" src="{{item.photo}}"/>
                {{item.name}}
              </td>
              <td>
                {{item.displayName ? item.displayName : '-'}}
              </td>
              <td *ngIf="item.team">
                <img style="width: 50px;height: 50px;object-fit: contain" class="mr-2" src="{{item.team.logo}}"/>
                {{item.team.name}}
              </td>
              <td *ngIf="item.team == null" style="height: 83px">
                -
              </td>

              <td *ngIf="item.country">
                {{item.country}}
              </td>
              <td *ngIf="!item.country">
                -
              </td>
              <td>{{item.positionAbr}}</td>
              <td>{{item.initialValue}} m€</td>
              <td>{{item.value}} m€</td>
              <td>{{getNumberOfHistoriesByType(item.playerId, 0)}}/{{getNumberOfHistoriesByType(item.playerId, 1)}}</td>
              <td>{{getNoteAverage(item)}}</td>
              <td>{{getAge(item)}}</td>
              <td>
                {{item.formated_date}}
              </td>
              <td class="actions">
                <a [routerLink]="item._id"><i class="fa-solid fa-pen"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <ngb-pagination
            (pageChange)="pageChange($event)"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="10"
            [collectionSize]="totalLength"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
