
.ngx-editor .ngx-wrapper .ngx-editor-textarea {
  min-height: 220px !important;
}

.yellow-color {
  color: orange;
}

.red-color {
  color: red;
}

.green-color {
  color: forestgreen;
}

.blue-color {
  color: dodgerblue;
}

.modal-body {
  padding: 0 !important;
  min-height: 75vh;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 420px!important;
  }
}

.badge-warning {
  color: #e25509;
  background-color: rgba(226, 85, 9, 0.19);
}

.dropdown-menu {
  top: 5px!important;
//  left: -95px!important;
}

.actions {
  display: table-cell;
  svg {
    width: 15px;
    height: 15px;
    margin-right: 14px;
    margin-left: 3px;
    filter: brightness(0) invert(8%) sepia(21%) saturate(7452%) hue-rotate(198deg) brightness(96%) contrast(98%);
    &:hover {
      cursor: pointer;
    }
  }
}

.team-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 3px;
  border: 1px solid black;
}

.big-team-color {
  width: 56px;
  height: 46px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 0px;
  margin-left: 15px;
  border: 1px solid #cad1d7;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.visually-hidden {
  display: none!important;
}
